* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #4daf54;
}
body {
  height: 100vh;
  background: linear-gradient(to right, #4daf54, #3d8880);
}
.card {
  margin: 120px auto;
  width: 320px;
  height: 400px;
  background: rgb(45, 44, 44);
  padding: 20px;
  border-radius: 15px;
  color: white;
  position: relative;
}
.card_heart,
.card_cart {
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 14px;
}
.card_cart {
  left: unset;
  right: 20px;
}
.card_img {
  width: 98%;
  transition: 0.5s;
}
.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_title,
.card_price {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
}
.card_title {
  color: var(--primary-color);
}
.card_size,
.card_color {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card_size span {
  padding: 2px 5px;
  background: white;
  color: black;
  border-radius: 5px;
  margin: 0px 5px;
}
.card_color span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0px 5px;
}
.card_color--green {
  background: green;
}
.card_color--red {
  background: red;
}
.card_color--black {
  background: black;
}
.card_action button {
  background: var(--primary-color);
  border: none;
  outline: none;
  color: wheat;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 20px;
}
.card:hover .card_img {
  transform: translateY(-90px) rotate(-20deg);
}
.card:hover .card_title,
.card:hover .card_price {
  transform: translate(-70px, -40px);
}
.card:hover .card_price {
  transform: translate(-122px, -40px);
}

.card_size,
.card_color,
.card_action {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.1s;
  filter: brightness(1.1);
}

.card:hover .card_size,
.card:hover .card_color,
.card:hover .card_action {
  visibility: visible;
  opacity: 100;
}
.card:hover .card_size {
  margin-top: -10px;
}
